@import "tailwindcss";
@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "shadcn/tailwind.css";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-primary: #143B7A;
  --color-navy: #0B2E68;
  --color-backg: #F5F7FB;
  --color-ltgray: #64708A;
  --color-success: #22C55E;
  --color-successSoft: #DCFCE7;
}